<section id="{{ section.id }}">
  <div class="about-description-container">
    <div class="secondari-title-conta">
      <h3 class="secondary-title txt-yellow">{{ section.settings.text_title_before }}</h3>
    </div>
    <div class="description-container">
      <h2 class="subtitle-section txt-black">{{ section.settings.text_title }}</h2>
      <p class="text-general txt-gray">{{ section.settings.text_description }}</p>
    </div>
    <div class="button-container">
      <a class="btn btn-transparent-black" href="{{ section.settings.url_btn.url }}">{{ section.settings.text_btn }}</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Descripción de Nosotros",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "text_title",
        "label": "Titulo sección"
      },
      {
        "type": "text",
        "id": "text_title_before",
        "label": "Titulo secundario sección"
      },
      {
        "type": "textarea",
        "id": "text_description",
        "label": "Descripción sección"
      },
      {
        "type": "text",
        "id": "text_btn",
        "label": "Texto botón"
      },
      {
        "type": "url",
        "id": "url_btn",
        "label": "Url botón"
      }
    ],
     "presets": [
        {
           "name": "Descripción de Nosotros (Historia)"
        }
     ]
  }
{% endschema %}